<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <%- include('./header.ejs') %>
        </div>
       
        <div class="col-md-3">
            <%- include('./left.ejs') %>
        </div>
        <div class="col-md-9">
            <h1>HONDA</h1>
              
   <% if(data.length>0){ %>
    <div class="row row-cols-1 row-cols-md-4 g-4">
 
      <% for(var i=0;i<data.length;i++){ %>
        <div class="col">
          <div class="card shadow">
            <img src="<%= data[i].pfile %>" class="card-img-top  img-fluid" style="height: 200px;">
            <div class="card-body">
              <h4 class="card-title"><%= data[i].pname %> </h4>
              <p class="card-text"><%= data[i].category %></p>

              <div class="card-footer custom-footer">
                <div class="float-start">
                  <h6 class="custom-highlight text-danger">$<%= data[i].pdiscount %>
                    <span class="text-decoration-line-through text-dark">$<%= data[i].pprice %></span></del></h6>
                </div>
            
              </div>

            </div>
          </div>

        </div>






     
     <% } %>




  <% } else { %>
  no record found <% } %>
   </div>
    </div>
    </div>
    <div class="container text-end">
        <a href="/viewcategory" class="text-decoration-none"><span class="btn btn-outline-danger">back</span></a>

    </div>
</div>
